.signin {
  text-align: center; /* Centers the text horizontally */
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
  z-index: 2;
}
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
  margin-top: 140px;
  gap: 20px;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-right: 100px;
  border: 2px solid black;
  border-radius: 10px;
  border-width: 4px;
  z-index: 1;
  box-shadow: 1px 2px 20px 2px rgb(82, 78, 78) inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.login-form:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 30px rgba(0, 0, 0); /* Slightly adjusted for better visibility on hover */
}
.login-form input {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.login-form h1 {
  font-size: 20px;
  margin: 0;
  padding-left: 0;
  /* text-shadow: 1px 1px 20px rgb(71, 66, 66); */
}
.submit-button {
  /* padding: 0; */
  background-color: black;
  color: white;
  margin-top: 10px;
}
.already {
  text-align: center;
}
.already-signup:hover {
  text-decoration: underline;
}
