.signup {
  text-align: center; /* Centers the text horizontally */
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
}
.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration-form {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
  margin-top: 140px;
  gap: 20px;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-right: 100px;
  border: 2px solid black;
  border-radius: 10px;
  border-width: 4px;
  z-index: 1;
  box-shadow: 1px 2px 20px 2px rgb(82, 78, 78) inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.registration-form:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 30px rgba(0, 0, 0); /* Slightly adjusted for better visibility on hover */
}
.registration-form input {
  color: black;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.registration-form input:hover {
  background-color: rgb(255, 249, 249);
  box-shadow: 0px 0px 20px rgb(156, 153, 153);
}

.registration-formh1 {
  font-size: 25px;
  margin: 0;
  padding-left: 0;
  text-shadow: 1px 3px 9px black;
}
.submit-button {
  /* padding: 0; */
  background-color: black;
  color: white;
  margin-top: 20px;
  border-color: black;
}
.already {
  text-align: center;
}
.already-signin:hover {
  text-decoration: underline;
}
